.status0{ color: black;font-weight: bold; }
.status1{ color: blue;font-weight: bold; }
.status2{ color: green;font-weight: bold; }
.status3{ color: orange;font-weight: bold; }
.status-1{ color: red;font-weight: bold; }
.status9{ color: grey;font-weight: bold; }